altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.6
packaging==23.2
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pywin32-ctypes==0.2.2
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.25
typing_extensions==4.9.0
urllib3==2.1.0
